.bg-custom {
  background-color: var(--custom-bg, white);
}

.select-column {
  position: relative;
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}
